body{
  background-color: white;
  font-size: 18px;
  line-height: 1.4;
  font-style: helvetica;
  margin: 0;
}

.container{
  width: 1160px;
  margin: auto;
}

.flex{
  display: flex;
}

h1{
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-size: 16px;
  font-weight: bold;
}

p{
  14px;
}
nav{
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
  justify-content: space-between;
}

nav img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav div{
  display: flex;
  align-items: center;
}
ul{
  display: flex;
  list-style: none;
}

ul li{
  display: inline;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mobile-menu{
  display: none;
}

#banner{
  background-color: lightgrey;
}

.banner-content{
  display: flex;
  margin: 32px 24px;
}

.banner-photo{
  width: 60%;
  margin-right: 24px;
}

.banner-photo img{
  max-width: 100%;
}

.banner-info{

  width: auto;
}

.button{
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 8px;
}
.banner-info h3{
  color: white;
  margin: 8px auto;

}
.main-content{

  display: flex;
  margin: 32px 24px;

}

.main-info{
 width: 40%;

}
.main-photo{
  width: 60%;
}
.main-photo img{
  max-width: 100%;
}

.main-list-content{

  margin-left: 16px;
  }

  #list-style{
    background-color: lightgrey;
  }

.item{
  display: flex;
  text-align: center;
}
.item img{
  width: 35%;
  height: 35%;
  margin: 16px;
}

.learning{
  background-color: lightgray;
}
.heading{
  text-align: center;
}
.heading h1{
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 16px;
}

.info-learning{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto 72px;

}
.item-learning{
 margin: 16px;
 background-color: white;
}

.item-learning img{
  height: auto;
  max-width: 306px;
}

.main-video {
  max-width: 60%;
}
